<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBgPOSvMRVmcyOHAGUQPQBS-5rFFZLMwVw</string>
	<key>GCM_SENDER_ID</key>
	<string>399562461471</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pasha.my-tinder</string>
	<key>PROJECT_ID</key>
	<string>my-tinder-f9b42</string>
	<key>STORAGE_BUCKET</key>
	<string>my-tinder-f9b42.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:399562461471:ios:d2ea4dcd990395ac38202a</string>
</dict>
</plist>